
  #profile {
    width: 30rem;
  }

  #profile .group + .group {
    margin-top: 2em;
  }

  #profile label {
    display: block;
    font-weight: bold;
  }

  #profile input[type="text"],
  #profile input[type="password"] {
    margin: .5em 0;
    padding: .5em;
    width: 100%;
    font-size: 1em;
  }

  #profile .instruction {
    font-size: .75em;
    margin: .25em;
  }

  #profile .group .error-message,
  #profile .group .error-symbol{
    display: none;
  }

  #profile .group.has-error label,
  #profile .group.has-error .error-message {
    display: block;
    color: darkred;
    font-size: .75em;
    margin: .25em;
  }

  #profile .error-list {
    color: darkred;
    padding: 0 1em;
    border: 1px solid darkred;
    margin-bottom: 2em;
  }

  #profile .group.has-error .error-symbol {
    display: inline;
    font-size: 1.25em;
  }

  #profile .group.has-error input {
    border: 1px solid darkred;
  }
