
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.container{
    display: flex;
}
.container1{
        width:50%;
        float:left;
    }
    .container2{
        width: 50%;
        float: right;
        margin: 10px;
        margin-left: 30px;
    }
.input-container {
  margin-bottom: 5px;
  margin: 25px 0;
  margin-left: 40px;
}
.input-container span{
    display: flex;
    margin-left: -45px;
}
.icon {
  padding: 10px;
  color: black;
  min-width: 50px;
}

.input-field {
  padding: 10px;
  border: 2px solid #ccc;
  width:95%;
  border-radius: 15px;

}

/* Set a style for the submit button */
#btn {
  background-color: #c54646;
  color: white;
  margin: 30px 0;
  cursor: pointer; 
  padding: 15px 20px;
  opacity: 0.9;

}

.btn:hover {
  opacity: 1;
}
/* input:invalid+span:after {
  position: absolute; content: '✖';
  padding-left: 5px;
  color: #8b0000;
}

input:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
  color: #009000;
} */
@media screen and (max-width: 700px) {
 .container{
     display: block;
 }
 .container2{
     width: 100%;
 }
}
